<!DOCTYPE html>
<html>

  <head>

    <title>Trial App</title>
    <%= include_gon(:init => true) %>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous">


      </script>
      <script>
        $(document).ready(function() {
         // var t = gon.time;

//if($('#card').parent().length === 0) {
//   alert('post to be') //The element has not been added to the DOM because it doesn't not have a parentNode
//} else { alert('nah') };

//setInterval(function() { $.ajax({
//    url: '/',
//    success: function(){
//$('div#card').each(function() {
//    $(this).html(t);
//});
        //alert(t);
 //   }
//});},10000);

var serverSentEvent = new EventSource('/stream');
serverSentEvent.onmessage = function(e) {
  alert('yay');
}
//http://stackoverflow.com/questions/8777612/how-to-check-if-a-dynamically-created-element-already-exists-using-jquery
      //    setInterval(function() {
       //     $("#div1").load("/", function(responseTxt, statusTxt, xhr) {
         //     if (statusTxt == "success") $(this).text(t);
           //   if (statusTxt == "error") alert("Error: " + xhr.status + ": " + xhr.statusText);
            //});
          //}, 5000);

          var array = {
            "A": "Agilent Technologies,Inc.",
            "AA": "Alcoa, Inc.",
            "AAPL": "Apple, Inc.",
            "ACE": "Ace Limited",
            "ADT": "The ADT Corporation"
          };
          $.each(array, function(k, v) {
            var gem = $("<div id='card' id=" + k + "></div>")
              .append("<div class='front'>A-Side</div>")
              .append("<div class='back'>B-Side</div>");
            $("body").append($("<div class='flip' id=" + k + "></div>").append(gem));
            $("#" + k).mouseenter(function() {
              $(this).find('#card').toggleClass('flipped')
            });
          });


//if($('#card').parent().length === 0) {
   //alert('post to be') //The element has not been added to the DOM because it doesn't not have a parentNode
//}

      </script>
      <style>
        body {
          width: 100vw;
          height: 100vh;
        }

      </style>
  </head>
  <style>
    body {
      background: #ccc;
    }
    
    .flip {
      width: 50px;
      height: 50px;
      float: left;
      margin: 2px;
    }
    
    .flip #card.flipped {
      transform: rotatey(180deg);
    }
    
    .flip #card {
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
    }
    
    .flip #card .front {
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background: black;
      color: white;
      cursor: pointer;
    }
    
    .flip #card .back {
      width: 100%;
      height: 100%;
      -webkit-transform: rotatey(-180deg);
      background: white;
      color: black;
      cursor: pointer;
    }

  </style>

  <body>
    <div id="div1">o</div>
  </body>


